$backColorMarkIns: #ff9;
$colorMarkIns: #000;
$colorKbd: darkgreen;
$colorSmall: grey;
$colorH:black;

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

h1 h2 h3 h4 h5 h6{
	color:$colorH;
	font-family: sans-serif,inherit, verdana, comic, courier, times;
	font-weight: bold;
}

body p{
    line-height:1;
    margin-bottom: 1%;
    font-family: sans-serif,inherit, verdana, comic, courier, times;
}

h1{font-size: 2.5rem;}

h2{font-size: 2.2rem;}

h3{font-size: 2rem;}

h4{font-size: 1.6rem;}

h5{font-size: 1.4rem;}

h6{font-size: 1.2rem;}

small, .small{
	font-size: 1.4rem;
	color: $colorSmall;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
}

ins {
    background-color:$backColorMarkIns;
    color:$colorMarkIns;
    text-decoration:none;
}

mark {
    background-color:$backColorMarkIns;
    color:$colorMarkIns; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

u {
	text-decoration:  underline;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

pre{
	font-family: courier;
	font-size: 0.8rem;
}

kbd{
	font-family: arial;
	font-size: 0.8rem;
	color: $colorKbd;
	font-weight: bold;
}

code{
	font-family: courier;
	color: darkgrey;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

blockquote
{
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #6FA8CE;
  padding-left: 8px;
  background-color: #CAE8F3;
}

.justifie{text-align: justify;}

.centre{text-align: center;}

.droite{text-align: right;}

.gauche{text-align: left;}

.majuscule{text-transform: uppercase;}

.minuscule{text-transform: lowercase;}

.sansPuce{
    list-style-type:none; 
}

#test{
    background-color: grey;
    text-align: center;
}