$colorBtnBlue: #2980b9;
$colorBtnRed: #B22222;
$colorBtnGrey: #778899;
$colorBtnGreen: #228B22;
$colorBorderBtn: #1f628d;
.btn{
	border-radius: 8px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}

.btn-blue{
	@extend .btn;
	background-color: $colorBtnBlue;
	border: solid;
	border-color: darken($colorBtnBlue, 20%);
}
.btn-blue:hover{
	background-color: darken($colorBtnBlue, 10%);
}

.btn-red{
	@extend .btn;
	background-color: $colorBtnRed;
	border: solid;
	border-color: darken($colorBtnRed, 20%);
}
.btn-red:hover{
	background-color: darken($colorBtnRed, 10%);
}

.btn-grey{
	@extend .btn;
	background-color: $colorBtnGrey;
	border: solid;
	border-color: darken($colorBtnGrey, 20%);
}
.btn-grey:hover{
	background-color: darken($colorBtnGrey, 10%);
}

.btn-green{
	@extend .btn;
	background-color: $colorBtnGreen;
	border: solid;
	border-color: darken($colorBtnGreen, 20%);
}
.btn-green:hover{
	background-color: darken($colorBtnGreen, 10%);
}

.btn-fat-small{
	padding: 2px 7px 2px 7px;
	font-size: 0.5em;
	border: none;
}

.btn-fat-medium{
	padding: 5px 10px 5px 10px;
	font-size: 0.8em;
	border: none;
}

.btn-fat-lg{
	padding: 10px 15px 10px 15px;
	font-size: 1.5em;
	border: none;
}

.btn-small{
	border-width: 1px;
	padding: 2px 7px 2px 7px;
	font-size: 0.5em;
}

.btn-medium{
	padding: 5px 10px 5px 10px;
	font-size: 0.8em;
	border-width: 2px;
}

.btn-lg{
	padding: 10px 15px 10px 15px;
	font-size: 1.5em;
	border-width: 3px;
}

