﻿.formajout {
	padding : 10px;
	width : 50%;
	margin : 0 auto;
	
	legend {
		font-size : 22px;
	}
	
	p {
		color : #12A1FF;
		margin : 5px;
		
		@include gridSM(20%,4,1,1);
		
		
		input[type="text"] {
		
			@include gridSM(20%,4,1,0);
			width: 150px;
			background-color: #DFF2FF;
		}
	
	}
}