@import "compass/css3";

@mixin grid($tailleCol, $nbCol, $largBox, $offset){
	font-size: 1rem;
	/*display: inline-block;*/
	float: left;
	$largeurGouttiere: (100-($nbCol*$tailleCol))/$nbCol;
	width: $largBox*$tailleCol+($largBox - 1)*$largeurGouttiere;
	margin-left: ($offset*$tailleCol)+($offset*$largeurGouttiere);
}

/*margin-left: ($offset*$tailleCol)+($offset*$largeurGouttiere);*/

@mixin gridSM($tailleCol, $nbCol, $largBox, $offset){
	
	display: inline-block;
	$largeurGouttiere: (100-($nbCol*$tailleCol))/$nbCol;
	width: $largBox*$tailleCol;
	margin-left: ($offset*$tailleCol);
}
/*margin-left: ($offset*$tailleCol)+($offset*$largeurGouttiere);*/

@mixin contener(){
	font-size: 0rem;
}

.clear {
	content:'';
    clear: both;
    display: block;
    float: none;
}


.row {
	width : 100%;
	margin : 1% auto;
}
.row > div {
	float : left;
	margin : 0 1%;
}

.col-1 { width : 6.33%; }
.col-2 { width : 14.66%; }
.col-3 { width : 22.99%; }
.col-4 { width : 31.32%; }
.col-5 { width : 39.65%; }
.col-6 { width : 47.98%; }
.col-7 { width : 56.31%; }
.col-8 { width : 64.64%; }
.col-9 { width : 72.97%; }
.col-10 { width : 81.3%; }
.col-11 { width : 89.63%; }
.col-12 { width : 97.96%; }

.col-offset-1 { margin-left : 6.33%; }
.col-offset-2 { margin-left : 14.66%; }
.col-offset-3 { margin-left : 22.99%; }
.col-offset-4 { margin-left : 31.32%; }
.col-offset-5 { margin-left : 39.65%; }
.col-offset-6 { margin-left : 47.98%; }
.col-offset-7 { margin-left : 56.31%; }
.col-offset-8 { margin-left : 64.64%; }
.col-offset-9 { margin-left : 72.97%; }
.col-offset-10 { margin-left : 81.3%; }
.col-offset-11 { margin-left : 89.63%; }
.col-offset-12 { margin-left : 97.96%; }

.clear { clear : both ; }

@media only screen and (max-width:500px) {
	.row {
		width : 100%;
	}
	.row > div { 
		margin : 0 1%;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { 
		width : 98%; 
		float : none;
	}
}