.header{
	ul{
		li{
			background-color: grey;
			padding: 1%;
			display: inline-block;
			ul{
				display: none;
			}
		}
		li:hover{
			ul{
				margin-top: 1%;
				position: absolute;
				display: block;
			}
		}
	}
}
