@import "compass/css3";
@import "base";
@import "grille";
@import "bouton";
@import "alerte";
@import "jumbotron";
@import "header";
@import "formulaire";

$bleu1: #3084BF;

header{
    background-color: #E9E9E9;
}

.connexion{
    @include gridSM(25%,4,1,3);
    @media screen and (max-width: 26em){
        @include gridSM(100%,1,1,0.2);
    }
    @media screen and (max-width: 36em){
       @include gridSM(50%,2,1,1);
    }
    margin-top: 1%;
    box-sizing: border-box;
}



nav{
    font-size: 0;
        img{
            @media screen and (max-width: 26em){
                @include gridSM(100%,1,1,0);
            }
            display: inline-block;
            @include gridSM(25%,4,0.7,0);
        }
        .menu{
            @media screen and (max-width: 36em){
               font-size: 1rem;
            }
            @media screen and (orientation: portrait) and (max-width: 26em){
                @include gridSM(100%,1,1,0);
            }
            @media screen and (orientation: landscape) and (max-width: 26em){
                @include gridSM(33.33%,3,1,0);
            }
            font-size: 1.5rem;
            font-weight: bold;
            color: #F6F3F3;
            @include gridSM(25%,4,1.1,0);
            display: inline-block;
            background-color: $bleu1;
            padding-top: 1%;
            padding-bottom: 1%;
            text-align: center;
            text-decoration: none;
            vertical-align: bottom;

        }
        a:hover{
            background-color: darken($bleu1, 10%);
        }
        a:before{
            @media screen and (max-width: 26em){
                border-bottom : 5px solid #1E80CC;
            }
        }
}

#container{
    background-color: #DDD;
    display: inline-block;
}
.filtre{
    font-size: 0;
    background-color: #005692;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    .petitFiltre{
        @media screen and (max-width: 60em){
            @include gridSM(50%,2,1,0);
            margin-bottom: 1%;
        }
        @media screen and (orientation: portrait) and (max-width: 26em){
            @include gridSM(100%,1,1,0);
            margin-bottom: 1%;
        }
        @include gridSM(25%,4,1,0);
        font-size: 1rem;
        display: inline-block;
    }
}
.annonce{
    @include gridSM(25%,4,1.75,0.25);
}
.listeAnnonce{
    @include gridSM(25%,4,1.75,0.25);
    @media screen and (max-width: 36em){
        h3{
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 26em){
        @include gridSM(90%,1,1,0);
        margin-left: 4%;
    }
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;

    h4{
        text-align: left;
    }
    h6{
        text-align: left;
    }
    p{
        text-align: left;
    }
    
    .petiteAnnonce{
        @include gridSM(25%,3,1,0);
        @media screen and (max-width: 60em){
            @include gridSM(25%,3,2.5,0);
            margin-bottom: 5%;
        }
        @media screen and (max-width: 26em){
           @include gridSM(90%,1,1,0);
        }
        margin: 2% 3% 5%;
        a{
            text-decoration: none;
        }
        margin-top: 2%;
        img{
            width: 100%;
        }
        h4{
            margin:2%;
            font-size: 1.5em;
            font-weight: bold;
        }
        h3{
            margin: 5%;
        }
        p{
            margin-bottom: 5%;
        }
    }
}

.listeMesAnnonce{
    @include gridSM(25%,4,1.5,0);
    @media screen and (max-width: 36em){
        h3{
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 26em){
        @include gridSM(90%,1,1,0);
        margin-left: 4%;
    }
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;

    h4{
        text-align: left;
    }
    h6{
        text-align: left;
    }
    p{
        text-align: left;
    }
    
    .mesPetiteAnnonce{
        @include gridSM(25%,3,1,0);
        @media screen and (max-width: 60em){
            @include gridSM(25%,3,2.5,0);
            margin-bottom: 5%;
        }
        @media screen and (max-width: 26em){
           @include gridSM(90%,1,1,0);
        }
        margin: 2% 3% 5%;
        a{
            text-decoration: none;
        }
        margin-top: 2%;
        img{
            width: 100%;
        }
        h4{
            margin:2%;
            font-size: 1.5em;
            font-weight: bold;
        }
        h3{
            margin: 5%;
        }
        p{
            margin-bottom: 5%;
        }
    }
}

.category{
    @include gridSM(25%,4,1,0.5);
    @media screen and (max-width: 60em){
        @include gridSM(25%,4,1.5,0.2);
    }
    @media screen and (max-width: 36em){
        h3{
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 26em){
       @include gridSM(90%,1,1,0);
       margin: 5%;
    }
    margin-top: 2%;
    vertical-align: top;
    background-color: $bleu1;
    border-radius: 3%;
    height: 100%;
    ul{
        li{
            list-style: none;
            margin: 4%;
        }
    }
    h3{
        margin: 5%;
    }
}

.monCompte{
    @include gridSM(25%,4,2,0);
    @media screen and (max-width: 60em){
        @include gridSM(25%,4,2,0);
    }
    @media screen and (max-width: 36em){
        h3{
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 26em){
       @include gridSM(100%,1,1,0);
       margin: 5%;
    }
    margin-top: 2%;
    vertical-align: top;
    p {
        color : $bleu1;
        margin : 1%;
        
        @include gridSM(25%,4,1,1);
        
        
        input[type="text"] {
            @include gridSM(25%,4,1,0);
            width: 100%;
            background-color: white;
            border-style: solid;
            border-width: 1%; 
            border-color: $bleu1;
            height: 20%;
        }
    
    }
}


label{
    font-size: 1rem;
    font-weight: bold;
    color: #F6F3F3;
}

footer{
    background-color: #2980B9;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: #F6F3F3;

}

.formajout {
    @include gridSM(25%,4,3,0.5);
    @media screen and (max-width: 36em){
        h3{
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 26em){
        @include gridSM(85%,1,1,0);
        margin-left: 5%;
    }
    margin-top: 2%;
    margin-bottom: 2%;
    legend {
        font-size : 22px;
    }
    
    p {
        color : $bleu1;
        margin : 1%;
        
        @include gridSM(25%,4,1,1);
        
        
        input[type="text"] {
            @include gridSM(25%,4,1,0);
            width: 100%;
            background-color: white;
            border-style: solid;
            border-width: 1%; 
            border-color: $bleu1;
            height: 20%;
        }
         input[type="password"] {
            @include gridSM(25%,4,1,0);
            width: 100%;
            background-color: white;
            border-style: solid;
            border-width: 1%; 
            border-color: $bleu1;
            height: 20%;
        }
    
    }
}