/* line 18, ../scss/base.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 27, ../scss/base.scss */
h1 h2 h3 h4 h5 h6 {
  color: black;
  font-family: sans-serif,inherit, verdana, comic, courier, times;
  font-weight: bold;
}

/* line 33, ../scss/base.scss */
body p {
  line-height: 1;
  margin-bottom: 1%;
  font-family: sans-serif,inherit, verdana, comic, courier, times;
}

/* line 39, ../scss/base.scss */
h1 {
  font-size: 2.5rem;
}

/* line 41, ../scss/base.scss */
h2 {
  font-size: 2.2rem;
}

/* line 43, ../scss/base.scss */
h3 {
  font-size: 2rem;
}

/* line 45, ../scss/base.scss */
h4 {
  font-size: 1.6rem;
}

/* line 47, ../scss/base.scss */
h5 {
  font-size: 1.4rem;
}

/* line 49, ../scss/base.scss */
h6 {
  font-size: 1.2rem;
}

/* line 51, ../scss/base.scss */
small, .small {
  font-size: 1.4rem;
  color: grey;
}

/* line 57, ../scss/base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 61, ../scss/base.scss */
nav ul {
  list-style: none;
}

/* line 65, ../scss/base.scss */
blockquote, q {
  quotes: none;
}

/* line 70, ../scss/base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 75, ../scss/base.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 82, ../scss/base.scss */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 88, ../scss/base.scss */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 95, ../scss/base.scss */
del {
  text-decoration: line-through;
}

/* line 99, ../scss/base.scss */
u {
  text-decoration: underline;
}

/* line 103, ../scss/base.scss */
strong {
  font-weight: bold;
}

/* line 107, ../scss/base.scss */
em {
  font-style: italic;
}

/* line 111, ../scss/base.scss */
pre {
  font-family: courier;
  font-size: 0.8rem;
}

/* line 116, ../scss/base.scss */
kbd {
  font-family: arial;
  font-size: 0.8rem;
  color: darkgreen;
  font-weight: bold;
}

/* line 123, ../scss/base.scss */
code {
  font-family: courier;
  color: darkgrey;
}

/* line 128, ../scss/base.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 133, ../scss/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 138, ../scss/base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 147, ../scss/base.scss */
input, select {
  vertical-align: middle;
}

/* line 152, ../scss/base.scss */
blockquote {
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #6FA8CE;
  padding-left: 8px;
  background-color: #CAE8F3;
}

/* line 162, ../scss/base.scss */
.justifie {
  text-align: justify;
}

/* line 164, ../scss/base.scss */
.centre {
  text-align: center;
}

/* line 166, ../scss/base.scss */
.droite {
  text-align: right;
}

/* line 168, ../scss/base.scss */
.gauche {
  text-align: left;
}

/* line 170, ../scss/base.scss */
.majuscule {
  text-transform: uppercase;
}

/* line 172, ../scss/base.scss */
.minuscule {
  text-transform: lowercase;
}

/* line 174, ../scss/base.scss */
.sansPuce {
  list-style-type: none;
}

/* line 178, ../scss/base.scss */
#test {
  background-color: grey;
  text-align: center;
}
