/* line 6, ../scss/bouton.scss */
.btn, .btn-blue, .btn-red, .btn-grey, .btn-green {
  border-radius: 8px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

/* line 13, ../scss/bouton.scss */
.btn-blue {
  background-color: #2980b9;
  border: solid;
  border-color: #164666;
}

/* line 19, ../scss/bouton.scss */
.btn-blue:hover {
  background-color: #20638f;
}

/* line 23, ../scss/bouton.scss */
.btn-red {
  background-color: firebrick;
  border: solid;
  border-color: #5c1212;
}

/* line 29, ../scss/bouton.scss */
.btn-red:hover {
  background-color: #871a1a;
}

/* line 33, ../scss/bouton.scss */
.btn-grey {
  background-color: lightslategrey;
  border: solid;
  border-color: #495561;
}

/* line 39, ../scss/bouton.scss */
.btn-grey:hover {
  background-color: #5f6e7e;
}

/* line 43, ../scss/bouton.scss */
.btn-green {
  background-color: forestgreen;
  border: solid;
  border-color: #0e390e;
}

/* line 49, ../scss/bouton.scss */
.btn-green:hover {
  background-color: #186218;
}

/* line 53, ../scss/bouton.scss */
.btn-fat-small {
  padding: 2px 7px 2px 7px;
  font-size: 0.5em;
  border: none;
}

/* line 59, ../scss/bouton.scss */
.btn-fat-medium {
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
  border: none;
}

/* line 65, ../scss/bouton.scss */
.btn-fat-lg {
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  border: none;
}

/* line 71, ../scss/bouton.scss */
.btn-small {
  border-width: 1px;
  padding: 2px 7px 2px 7px;
  font-size: 0.5em;
}

/* line 77, ../scss/bouton.scss */
.btn-medium {
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
  border-width: 2px;
}

/* line 83, ../scss/bouton.scss */
.btn-lg {
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  border-width: 3px;
}
