.row {
  width: 100%;
  margin: 1% auto; }

.row > div {
  float: left;
  margin: 0 1%; }

.col-1 {
  width: 6.33%; }

.col-2 {
  width: 14.66%; }

.col-3 {
  width: 22.99%; }

.col-4 {
  width: 31.32%; }

.col-5 {
  width: 39.65%; }

.col-6 {
  width: 47.98%; }

.col-7 {
  width: 56.31%; }

.col-8 {
  width: 64.64%; }

.col-9 {
  width: 72.97%; }

.col-10 {
  width: 81.3%; }

.col-11 {
  width: 89.63%; }

.col-12 {
  width: 97.96%; }

.col-offset-1 {
  margin-left: 6.33%; }

.col-offset-2 {
  margin-left: 14.66%; }

.col-offset-3 {
  margin-left: 22.99%; }

.col-offset-4 {
  margin-left: 31.32%; }

.col-offset-5 {
  margin-left: 39.65%; }

.col-offset-6 {
  margin-left: 47.98%; }

.col-offset-7 {
  margin-left: 56.31%; }

.col-offset-8 {
  margin-left: 64.64%; }

.col-offset-9 {
  margin-left: 72.97%; }

.col-offset-10 {
  margin-left: 81.3%; }

.col-offset-11 {
  margin-left: 89.63%; }

.col-offset-12 {
  margin-left: 97.96%; }

.clear {
  clear: both; }

@media only screen and (max-width: 500px) {
  .row {
    width: 100%; }

  .row > div {
    margin: 0 1%; }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 98%;
    float: none; } }
.btn, .btn-blue, .btn-red, .btn-grey, .btn-green {
  border-radius: 8px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff; }

.btn-blue {
  background-color: #2980b9;
  border: solid;
  border-color: #164666; }

.btn-blue:hover {
  background-color: #20638f; }

.btn-red {
  background-color: #B22222;
  border: solid;
  border-color: #5c1212; }

.btn-red:hover {
  background-color: #871a1a; }

.btn-grey {
  background-color: #778899;
  border: solid;
  border-color: #495561; }

.btn-grey:hover {
  background-color: #5f6f7e; }

.btn-green {
  background-color: #228B22;
  border: solid;
  border-color: #0e390e; }

.btn-green:hover {
  background-color: #186218; }

.btn-fat-small {
  padding: 2px 7px 2px 7px;
  font-size: 0.5em;
  border: none; }

.btn-fat-medium {
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
  border: none; }

.btn-fat-lg {
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  border: none; }

.btn-small {
  border-width: 1px;
  padding: 2px 7px 2px 7px;
  font-size: 0.5em; }

.btn-medium {
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
  border-width: 2px; }

.btn-lg {
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  border-width: 3px; }

.jumbotron {
  background-color: #e5e5e5;
  border-radius: 8px;
  text-align: center;
  padding: 6% 8% 6% 8%; }
  .jumbotron h1 {
    margin-bottom: 3%; }
  .jumbotron p {
    margin-bottom: 3%; }

.header ul li {
  background-color: grey;
  padding: 1%;
  display: inline-block; }
  .header ul li ul {
    display: none; }
.header ul li:hover ul {
  margin-top: 1%;
  position: absolute;
  display: block; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

h1 h2 h3 h4 h5 h6 {
  color: black;
  font-family: inherit, verdana, comic, courier, times;
  font-weight: bold; }

body p {
  line-height: 1;
  margin-bottom: 1%; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

small, .small {
  font-size: 1.4rem;
  color: grey; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

pre {
  font-family: courier;
  font-size: 0.8rem; }

kbd {
  font-family: arial;
  font-size: 0.8rem;
  color: darkgreen;
  font-weight: bold; }

code {
  font-family: courier;
  color: darkgrey; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

blockquote {
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #6FA8CE;
  padding-left: 8px;
  background-color: #CAE8F3; }

.justifie {
  text-align: justify; }

.centre {
  text-align: center; }

.droite {
  text-align: right; }

.gauche {
  text-align: left; }

.majuscule {
  text-transform: uppercase; }

.minuscule {
  text-transform: lowercase; }

.sansPuce {
  list-style-type: none; }

#test {
  background-color: grey;
  text-align: center; }

/*# sourceMappingURL=css.css.map */
