/* line 3, ../scss/header.scss */
.header ul li {
  background-color: grey;
  padding: 1%;
  display: inline-block;
}
/* line 7, ../scss/header.scss */
.header ul li ul {
  display: none;
}
/* line 12, ../scss/header.scss */
.header ul li:hover ul {
  margin-top: 1%;
  position: absolute;
  display: block;
}
