/* line 1, ../scss/jumbotron.scss */
.jumbotron {
  background-color: #e5e5e5;
  border-radius: 8px;
  text-align: center;
  padding: 6% 8% 6% 8%;
}
/* line 6, ../scss/jumbotron.scss */
.jumbotron h1 {
  margin-bottom: 3%;
}
/* line 9, ../scss/jumbotron.scss */
.jumbotron p {
  margin-bottom: 3%;
}
